
.grid {
    margin-top: 2em !important;
//     width: 100%;
//     display: grid !important;
//     place-content: center;

    form {
        

        .mt-5 {
            margin-top: 10px;
        }
    }
}

.text-center {
    padding: 1em;
    text-align: center;
}

.link-primary {
    color: #1149B6;
}


.danger {
    color: #D95C5C;
}


.p-2 {
    padding: 10px 0;
}

.mt-3 {
    margin-top: 5em;
}

.box {
    max-width: 400px;
    margin-top: 1.75em;
}



.image {
    border: none !important;
    background: url('/resources/images/thumbs.jpg') center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex !important;
    align-items: flex-end;
    justify-content: flex-start;

    &__info {
        line-height: 1.3 !important;



        h1 {
            color: white !important;
        }
    
    
        h4 {
            color: #add8e6 !important;
            font-weight: 300 !important;
        }
    }

}
