

.centered-icon {
    padding: 0.75em;
}

// .bordered-nav{
//     border-bottom: 1px solid rgba(170, 170, 170, 0.308) !important;
// }

.ui.secondary.pointing.menu {
    height: 70px;
    padding: 0px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.308) !important;
   

    .active.item {
        background-color: transparent !important;
        border-bottom-color: #1149b6;

        &:hover{
            border-bottom-color: #1149b6;
        }
    }

    .item {
        padding:0px;
        line-height: 2;
        margin: 20px 0px 0px 50px;

        &::before {
            width: 0;
        }

        &:hover{
            border-bottom-color: #1149b6;
        }
    }
}