@import "~sass-mq";

$mq-breakpoints: (mobile: 320px,
  tablet: 768px,
  desktop: 980px,
  wide: 1300px,
  // Tweakpoints
  desktopAd: 810px,
  mobileLandscape: 480px);

.landingPage {
  width: 100%;
  height: auto;

  .firstSec {
    background: url('../images/h 1.png') no-repeat center;
    background-color: #05152be8;
    background-blend-mode: overlay;

    // CBE5FF
    width: 100%;
    height: auto;
    padding-bottom: 6em;

    .ui.secondary.pointing.menu{
      border: none !important;
  
        .active.item {
          background-color:transparent !important;
          border-bottom-color: #000 !important;
          color: #000 !important;
  
         
      }
  
      .NavItem{

        .Sign-btn {
          background-color: white !important;
          color: #1149B6 !important;
      }
          &:hover{
            border-bottom-color: #000 !important;
            color: #000 !important;
        }
      }
    }

    .ui.container {
      .Section-content {
        width: 50%;
        margin: 120px auto 0px auto;
        text-align: center;


        .ui.header {
          font-size: 3.5em;
          letter-spacing: 3px;
        }

        p {
          font-size: 1.25em;
          color: white;
          letter-spacing: 2px;
        }

        .ui.button {
          background: white;
          color: #1149b6;
          font-size: 1em;
          font-weight: 700;
          margin: 32px auto 0px;

        }
      }
    }
  }

  .Details {
    padding-top: 30px;

    .ui.container {
      height: auto;

      .ui.header.topHeader {
        width: 35%;
        padding-top: 48px;
        margin: 0px auto 40px;
        font-size: 22px;
        font-weight: 600;
        color: #1b1b1b;
        text-align: center;
      }

      .ui.grid {
        padding-top: 50px;
        width: 90% !important;
        padding-bottom: 5.25em;
        display: flex !important;
        text-align: center;

        .ui.image {
          margin: auto;
          width: 65px;
        }

        .ui.header {
          font-size: 20px;
          margin-left: 0px;
          color: #1149b6;
        }
        p{
          font-size: 16px;
        }

      }
    }
  }

  .secondSec {
    width: 100%;
    height: auto;
    padding-top: 2em;
    padding-bottom: 4em;
    margin: 48px 0px;

    .ui.grid {
      height: auto;
      width: 100%;
      display: flex !important;
      margin-bottom: 13px;
      margin-left: 0px;

      .inner-column {
        margin: 90px auto;
        width: 40%;
        color: white;
        .ui.header {
          font-size: 20px;

        }

        p{
          color: #84a8f1;
          font-size: 16px;
          letter-spacing: .7px;
        }
      }

      .img-description {
        border: 2px solid #1149b6;

        background-color: white;

        width: 70%;
        margin: 0px 0px 0px -90px;

        .ui.image {
          margin: 0px 0px 10px -10px;

        }
      }

      .img-frame {
        border: 2px solid #1149b6;
        width: 70%;
        background-color: white;
        float: right;
        margin: 0px -90px 0px 0px;

        .ui.image {
          margin: 0px -10px 10px 10px;
        }
      }
    }
  }

  .thirdSec {
    background: #f8f8f8;
    height: auto;

    .second-layer {
      background: url("../images/section.png");
      width: 100%;
      height: auto;
      padding-top: 8em;
      padding-left: 3.125em;
      padding-bottom: 6em;

      .card-layer {
        height: auto;
        width: 50%;
        background: #ffffff;
        padding: 50px 40px;

        .text-layer {
          width: 55%;
          height: auto;

          .ui.header {
            color: #1149b6;
            font-size: 24px;
            margin-top: 0px;
          }
        }
      }
    }

    .companies {
      height: auto;
      padding-top: 3.75em;
      padding-bottom: 3.5em;

      .ui.header {
        text-align: center;
        margin-bottom: 1.25em;
        font-size: 22px;
        color: #1b1b1b;
      }

      .ui.image {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }

  .Section4 {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8em;
  }

  .free-trial {
    width: 100%;
    height: auto;
    text-align: center;
    background: #1149b6;
    color: #ffffff;
    padding-top: 3em;
    padding-bottom: 5em;

    .ui.header {
      width: 40%;
      font-size: 3em;
      color: #ffffff;
      margin: auto;
    }

    p {
      font-size: 1.25em;
      padding-top: 2em;
      padding-bottom: 2em;
      width: 40%;
      margin: auto;
      color: #6594EF;
    }

    .ui.button {
      background: white;
      color: #1149b6;
      font-size: 1.25em;
      font-weight: 700;
    }
  }

  @include mq($from: mobile, $until: tablet) {
    .firstSec {
      .ui.container {
        .Section-content {
          width: 90%;
          padding-top: 1em;
          margin-top:60px;

          .ui.header {
            font-size: 2.5em;
          }

          p {
            font-size: 1em;
          }
        }
      }
    }

    .Details{
      .ui.container{
        .ui.header.topHeader{
          width:90%;
          padding-top:40px;
        }
        .ui.grid{
          padding-top:35px;
        }
        .gridContent{
          display: block !important;
          margin-bottom:40px !important; 
          .ui.header{
            margin-top:30px;
          }
        }
      }
    }

    .secondSec{
      background-color: #1149b6;
      margin:0px;
      .ui.image{
        width: 90%;
      }
      .ui.header{
        color: #ffffff;
      }
      .ui.grid{
        .inner-column{
          margin:20px auto;
          width: 90%;
        }
     }
    }

    .thirdSec {
      .ui.container {
        .ui.header.topHeader {
          width: 85%;
          font-size: 20px;
        }
      }

      .second-layer {
        padding-top: 6em;

        .card-layer {
          width: 90%;

          .text-layer {
            width: 95%;
          }
        }
      }

      .companies {
        .ui.header {
          font-size: 20px;
        }
      }
    }

    .Section4 {
      padding-top: 6em;
      padding-bottom: 6em;

      .ui.header {
        font-size: 16px;
        padding-right: 8px;
        padding-left: 8px;
      }
    }

    .free-trial {
      .ui.header {
        width: 80%;
        font-size: 2em;
      }

      p {
        width: 80%;
        padding-top: 3em;
        font-size: 16px;
      }
    }
  }

  @include mq($from: tablet, $until: desktop) {
    .firstSec {
      .ui.container {
        .Section-content {
          width: 70%;
          padding-top: 6em;
        }
      }
    }

    .thirdSec {
      .second-layer {
        padding-top: 6em;

        .card-layer {
          width: 60%;

          .text-layer {
            width: 95%;
          }
        }
      }
    }

    .free-trial {
      .ui.header {
        width: 60%;
        font-size: 2em;
      }

      p {
        width: 60%;
        padding-top: 4em;
        font-size: 16px;
      }
    }
  }
}