@import "~sass-mq";

$mq-breakpoints: (mobile: 320px,
    tablet: 768px,
    desktop: 980px,
    wide: 1300px,
    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px);

.Details-page {
    width: 100%;
    height: auto;
    padding-bottom: 100px;

    .ui.container {
        .ui.grid {
            width: 100%;
            display: flex !important;
            margin-left: 0px;

            .ui.divider.Main {
                width: 30%;
                border-radius: 10px;
                margin-left: 0px;
                border-top: 3px solid rgba(34, 36, 38, 0.15);
                border-bottom: 3px solid rgba(36, 36, 38, 0.15);
                margin-top: 32px;
            }

            .propertyFeatures {
                width: 100%;
                height: auto;
                padding-top: 35px;
                height: 110px;

                .propertyAddress {
                    float: left;
                    width: 60%;

                    p {
                        font-size: 18px;
                    }
                }

                .priceFeatures {
                    width: 15%;
                    float: right;

                    p {
                        margin-bottom: 5px;
                    }

                    .redText {
                        color: red;
                    }

                    .ui.header.priceHeader {
                        margin-top: 0px;
                        margin-bottom: 5px;
                        font-size: 24px;
                    }
                }
            }

            .Facilities {
                width: 100%;
                height: auto;
                display: flex;

                .BoxOne {
                    border: 2px solid #1149b6;
                    padding: 2px;
                    margin-right: 30px;

                    .BoxTwo {
                        border: 2px solid #1149b6;
                        padding: 8px 40px;
                    }

                    p {
                        font-weight: 600;
                    }
                }
            }



            .AgentProfile {
                width: 95%;
                height: 380px;
                text-align: center;
                background: #e0e0e0de;
                margin: auto;
                padding-top: 20px;
                border-radius: 7px;
                padding-bottom: 30px;

                .profilePicture {
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                }

                p {
                    color: #848484;
                    font-weight: 500;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                .ui.header {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                .ui.button {
                    margin: 90px auto 20px;
                    font-weight: 500;
                }
            }

            .Map-sec {
                height: 400px;
                width: 95%;
                position: relative;
                margin: auto;
                border-radius: 7px;
            }

            .Amenities {
                padding: 30px 0px 0px 0px;
                width: 100%;
                height: auto;
                margin-bottom: 20px;

                .ui.header {
                    color: #1149b6;
                    font-weight: 700;
                    font-size: 20px;
                }

                .Facilities {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;

                    .BoxOne {
                        border: 2px solid #1149b6;
                        padding: 2px;
                        margin-right: 36px;
                        margin-top: 10px;

                        .BoxTwo {
                            border: 2px solid #1149b6;
                            padding: 3px 28px;
                        }

                        p {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .biggerMap {
            width: 100%;
            height: 500px;
            margin-top: 40px;
            margin-bottom: 40px;
            position: relative;
        }
    }

    .ui.divider.DownLine {
        width: 90%;
        margin: 40px auto;
    }

    .similarHomes {
        width: 100%;
        height: auto;

        .topHeader {
            width: 100%;
            height: auto;
            padding: 0px 80px;

            .ui.header {
                float: left;
                line-height: 2em;
                font-size: 25px;
                color: #1149b6;
            }

            .ui.button {
                float: right;
                font-size: 16px;
            }
        }

        .ui.grid {
            width: 100%;
            margin: 36px 0px 30px 0px;
            display: flex !important;

            .cardLike {
                width: 90%;
                height: 407px;
                margin: auto;
                border-radius: 20px;
                background-color: #f8f3f3;
                box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

                .propertyDetails {
                    width: 100%;
                    height: 180px;
                    padding: 20px 0px 0px 0px;

                    .leftDetails {
                        float: left;
                        width: 70%;
                        height: auto;
                        text-align: left;
                        padding-left: 10px;

                        .PropertyName {
                            font-size: 18px;
                            font-weight: 500;
                            margin-bottom: 12px;
                        }

                        .propertyLocation {
                            margin-top: 20px;
                        }
                    }

                    .rightDetails {
                        float: right;
                        width: 30%;
                        height: auto;
                        text-align: left;
                        padding-left: 22px;

                        .priceTag {
                            font-size: 15px;
                            font-weight: 700;
                        }

                        .propertyStatus {
                            color: red;
                        }

                        .detailsbtn {
                            border-radius: 50px;
                            font-size: 9px;
                            font-weight: 500;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    @include mq($from: mobile, $until: tablet) {

        .ui.container {
            .ui.grid {
                width: 95% !important;
                margin: auto;

                .propertyFeatures {
                    .priceFeatures {
                        width: 25%;
                    }
                }

                .Facilities {
                    .BoxOne {
                        .BoxTwo {
                            padding: 6px 30px;
                        }

                        p {
                            font-size: 12px;
                        }
                    }
                }

                .AgentProfile {
                    width: 100%;
                }

                .Map-sec {
                    width: 100%;
                }
            }

            .second-navBar {
                display: none;
            }

        }

        .similarHomes {
            .topHeader {
                padding: 0px 16px;

                .ui.header {
                    font-size: 18px;
                }

                .ui.button {
                    font-size: 14px;
                }
            }

            .ui.grid {
                .cardLike {
                    width: 85%;
                }
            }
        }
    }
}