@import "~sass-mq";

$mq-breakpoints: (
  mobile: 320px,
  tablet: 768px,
  desktop: 980px,
  wide: 1300px,
  // Tweakpoints
    desktopAd: 810px,
  mobileLandscape: 480px
);

.BuyPage2 {
  width: 100%;
  height: auto;
  padding-bottom: 60px;

  .topImage {
    background: url("../images/bg1.png") no-repeat center;
    width: 100%;
    height: 250px;
  }

  .salesProperty {
    width: 100%;
    height: auto;

    .topHeader {
      width: 100%;
      height: auto;
      padding: 30px 0px;

      .leftHeader {
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0px 0px 0px;
        width: 50%;
        float: left;
      }

      .filterBtn {
        width: 50%;
        height: auto;
        float: right;

        .switchButton {
          width: 50%;
          text-align: center;
          float: left;

          .ui.button {
            font-size: 20px;
            border-radius: 9px;
            font-weight: 500;
            padding: 14px 30px;
          }

          .leftBtn {
            margin-right: -20px;
            z-index: 2;
          }
        }

        .FilterSpot {
          float: right;
          display: flex;
          margin: auto 0px;
          width: 50%;
          justify-content: flex-end;

          .ui.image {
            height: 36px;
            margin-right: 5px;
          }

          .filterText {
            font-size: 22px;
            font-weight: 500;
            color: #1149b6;
            margin-top: 3px;
          }
        }
      }
    }

    .ui.grid {
      margin-left: 0px;
      display: flex !important;

      .sampleHome {
        display: inline-flex;
        width: 100%;
        height: auto;
        background-color: #f8f3f3;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        border-radius: 20px;
        margin-top: 24px;
        margin-bottom: 20px;

        .ApartmentImage {
          width: 420px;
        }

        .details {
          width: 70%;

          padding: 24px;

          .firstDetails {
            display: flex;

            .leftDetails {
              float: left;
              width: 40%;
              height: auto;
              text-align: left;

              .PropertyName {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 12px;
              }

              .grayText {
                color: #9b9b9b;
                font-size: 12px;
              }
            }

            .favImage {
              width: 40%;
            }

            .rightDetails {
              float: right;
              width: 20%;
              height: auto;
              text-align: left;
              justify-content: flex-end;

              .priceTag {
                font-size: 16px;
                font-weight: 700;
              }

              .propertyStatus {
                color: red;
              }
            }
          }

          .secondDetails {
            display: flex;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 14px;

            .grayText {
              color: #9b9b9b;
              font-size: 12px;
              margin-bottom: 7px;
            }

            .location {
              width: 42%;
              border-right: 1px solid #9b9b9b;
            }

            .Status {
              width: 33%;
              text-align: center;
              border-right: 1px solid #9b9b9b;
            }

            .Parking {
              width: 24%;
              text-align: center;
            }
          }

          .thirdDetails {
            display: flex;
            width: 100%;

            .profileLink {
              display: flex;
              width: 32%;

              .ui.image {
                width: 50px;
              }

              .textProfile {
                padding-left: 7px;

                p {
                  margin-bottom: 7px;
                }

                .grayText {
                  color: #9b9b9b;
                  font-size: 12px;
                }
              }
            }

            .postedDate {
              width: 30%;
              text-align: center;
              padding-top: 10px;

              p {
                color: #9b9b9b;
                font-size: 12px;
              }
            }

            .detailsBtn {
              width: 38%;
              text-align: end;
              padding-right: 30px;

              .detailsbtn {
                border-radius: 50px;
                font-size: 11px;
                font-weight: 500;
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }

  @include mq($from: mobile, $until: tablet) {
    .topImage {
      height: 120px;
    }

    .salesProperty {
      .topHeader {
        display: block;
        height: auto;

        .leftHeader {
          font-size: 16px;
          width: 95%;
          padding-left: 8px;
        }

        .filterBtn {
          width: 100%;

          .switchButton {
            float: left;
            width: 37%;

            .ui.button {
              font-size: 12px;
              padding: 12px 22px;
            }
          }

          .FilterSpot {
            float: right;
            width: 40%;
            margin-top: 5px;

            .ui.image {
              height: 25px;
            }

            .filterText {
              font-size: 16px;
            }
          }
        }
      }
      .ui.grid{
        .sampleHome{
          display:block;
          width:90%;

          .ApartmentImage{
            border-radius:20px;
          }
          .details{
             width:100%;
             padding:24px 8px 16px 8px;
             .firstDetails{
               .leftDetails{
                 width:55%;
                 .PropertyName{
                   font-size:16px;
                 }
               }

               .favImage{
                 width:20%;
                 height:40px;
               }
             }

            .secondDetails{
              p{
                font-size:13px;
              }
              .location{
                width:38%;
              }
              .Status{
                width:33%;
                padding:0px 3px;
              }
            }
            .thirdDetails{
              .profileLink{
                .ui.image{
                  width:45px;
                  height:45px;
                }
                .textProfile{
                  width:30%;
                  p{
                    font-size:12px;
                  }
                }
                
               
              }
               .detailsBtn{
                 width:35%;
                  padding-right:0px;
                }
            }
          }
        }
      }
    }
    
  }
}
