.centered-icon {
<<<<<<< HEAD
  padding: 0.75em;
}

.ui.menu {
  margin: 0;
  .active.item {
    background-color: white;
  }
  .item {
    &::before {
      width: 0;
    }
  }
}
=======
    padding: .75em;
}

.menu {
    margin: 0 !important;
}
>>>>>>> 05cc7a5c886950f8cd023c43794cae89ecafea88
