@import "~sass-mq";

$mq-breakpoints: (mobile: 320px,
  tablet: 768px,
  desktop: 980px,
  wide: 1300px,
  // Tweakpoints
  desktopAd: 810px,
  mobileLandscape: 480px);

.HomePage {
  width: 100%;
  height: auto;

  .homeBody {
    width: 100%;
    height: auto;

    .filterSec {
      padding: 30px 26px;
      float: left;
      width: 25%;

      .filter-tab {
        width: 100%;
        height: auto;


        .filterHeader {
          width: 100%;
          height: auto;
          padding-bottom: 20px;
          padding-top: 20px;

          .ui.header {
            float: left;
            margin-bottom: 0px;
          }

          .reset {
            float: right;
          }
        }
      }
    }

    .roomSamples {
      float: right;
      width: 75%;

      .showResults {
        width: 100%;
        height: auto;
        background: #f8f8f8;
        padding-top: 28px;
        padding-bottom: 20px;
        padding-left: 45px;
        padding-right: 45px;
        margin-bottom: 25px;
        display: flex;

        .ui.header {
          margin: auto 0px;
          width: 80%;
        }

        .ui.form {
          width: 20%;
        }
      }

      .ui.grid {
        width: 100%;
        margin: 0px;
        display: flex !important;

        .ui.image.Rooms {
          border: 3px solid #1149b6;
          border-radius: 20px;
          margin: auto;
        }

        .Home-details {
          margin-top: 20px;
          height: 45px;

          .Home-address {
            float: left;
            margin-left: 9px;
          }

          .ui.header.Payment {
            float: right;
            margin-right: 9px;
            margin-top: 0px;
            color: #1149b6;
          }
        }

        .ui.divider {
          border-top: 2px solid rgba(34, 36, 38, 0.15);
          border-bottom: 2px solid rgba(34, 36, 38, 0.15);
          width: 85%;
          margin: 20px auto;
        }
      }

      .mainNavigation {
        margin: 20px 0px;
        height: auto;
        width: 100%;

        .navigationNumbers {
          width: 25%;
          margin: auto;
          display: flex;

          p {
            margin: 10px 20px;
            font-size: 18px;
          }

          .ui.image {
            margin: auto;
          }
        }
      }
    }
  }

  @include mq($from: mobile, $until: tablet) {
    .homeBody {
      .filterSec {
        float: none;
        padding: 30px 16px
      }

      .roomSamples {
        float: none;

        .showResults {
          padding: 20px 16px;

          .ui.header {
            width: 50%;
            font-size: 18px;
            margin-right: 20px;
          }

          .ui.form {
            width: 40%;
          }
        }

        .ui.grid {
          display: block !important;
        }

        .mainNavigation {
          .navigationNumbers {
            width: 60%;
          }
        }
      }
    }
  }

  @include mq(tablet) {


    .roomSamples {
      .Home-address {
        float: none;
      }

      .ui.header.Payment {
        float: none;
        margin-left: 9px;
      }
    }
  }
}