.Commercials {
    width: 100%;
    height: auto;

    .ui.container {
        .ui.header {
            padding-top: 30px;
            font-style: italic;
            font-weight: 600;
            font-size: 24px;
            color: #1976d2;
        }

        .ui.form {
            margin-top: 30px;
            justify-content: center;

            .ui.label {
                font-weight: bold;
                font-size: 16px;
                line-height: 25px;
                color: #000000;
                background-color: transparent;
                padding: 10px 10px 10px 0px;
            }

            input {
                height: 60px;
                background: rgba(26, 137, 239, 0.2);
                border-radius: 5px;
                margin-right: 10px;
            }

            .checkBoxField {
                height: 40px;
                margin: auto 0px;

                input {
                    height: 30px;
                    margin-right: 5px;
                    background: rgba(26, 137, 239, 0.2)
                }

                .ui.label {
                    font-weight: bold;
                    font-size: 14px;
                    color: #000000;
                    background-color: transparent;
                }
            }

            .ListingSegment {
                width: 100%;
                padding: 0px;
            }

            .ButtonContainer {
                margin: 40px auto;
                height: 50px;

                .nextButton {
                    background: #1149b6;
                    font-size: 20px;
                    color: #ffffff
                }

                .backButton {
                    font-size: 20px;
                    color: #ffffff
                }

            }
        }
    }
}