// Override semantic ui to suit ui design.

.text-danger {
  color: red;
}

.text-info {
  color: rgb(19, 110, 230);
}

.text-success {
  color: rgb(24, 184, 72);
}

.mt-5 {
  margin-top: 15px;
}


.m-3 {
  margin: 9px;
}

